# Copy this file to onboarding.env, then fill in values provided by Intelog.
# Do not put AWS access keys in this file.

STACK_NAME=intelog-cloud-runner
ROLE_NAME=IntelogCloudRunner
CONTROL_REGION=us-east-1
EXPECTED_AWS_ACCOUNT_ID=123456789012
GOOGLE_SERVICE_ACCOUNT_SUBJECT=109653632320225003629
GOOGLE_AUTHORIZED_PARTY=109653632320225003629
TOKEN_AUDIENCE=REQUEST_FROM_INTELOG
ALLOWED_REGION=REQUEST_FROM_INTELOG
PROVISIONING_PROFILE=VpcSmoke
POLICY_VERSION=2026-10-02
